.container {
  width: 304px;
  margin: auto;
}

.title, .ss-dollarsign {
  font-size: 36px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 32px;
}

.title, .link-white, .click, .reset {
  color: white;
}

.ss-user, .ss-key {
  color: #D8D8D8;
  font-size: 16px;
}

.login-component {
  position: absolute;
  left: 4.5%;
  top: 50%;
  transform: translateY(-50%);
}

.ss-icon {
  margin-right: 20px;
}

.reset {
  font-size: 14px;
  margin-top: 48px;
}


